body {
    background-color: #1a1a1a;
    color : #00ff88;
    font-family: courier new, courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
h1 {
    border: 2px solid #00ff88;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ff88;
}